
@import "parts/_acercadeitalia.scss";
@import "parts/_contacto.scss";
@import "parts/_nosotros.scss";
@import "parts/_pfrecuentes.scss";
@import "parts/_postulate.scss";
@import "parts/_principal.scss";
@import "parts/_reseteos.scss";